@font-face {
    font-family: "Proxima-Nova-Semibold";
    src: url("../fonts/Proxima-Nova-Semibold.ttf");
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #f1f1f3;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.header_section {
    background-color: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
}

.header_section .header_logo {
    width: 70px;
    height: 72px;
}

.header_section .header_logo img {
    width: 100%;
    height: 100%;
}

.header_section .header_menu {
    display: flex;
    justify-content: space-between;
}

.header_section .header_menu li {
    margin: 0 20px 0 0;
    line-height: 70px;

}

.header_section .header_menu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2b2e3b;
    font-weight: bold;
}

.header_section .header_menu li a:hover {
    color: #ff774c;
    transition: 0.1s;

}

.header_section .header_bottom {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 40px;
    border: solid 1px #ff774c;
    color: #ff774c;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    margin: 13px 0;
    padding: 12px 28px;
    font-weight: bold;
}

.header_section .header_bottom:hover {
    border: solid 1px #ff774c;
    color: #fff;
    background-color: #ff774c;
}

.section_wrapper {
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35vh 0;
}

.section_wrapper .section_wrapper__title {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

.section_wrapper .section_wrapper__text {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.section_file {
    padding: 60px 0;
    background-color: #ff521e;
}

.section_file .section_file__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.section_file .section_file__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

.section_file .section_file__download {
    max-width: 700px;
    border-radius: 33px;
    background-color: #FF6C40;
    margin: 45px auto 30px auto;
}

.section_file .section_file__download .section_file__download___title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    padding: 0 30px;
    margin: 10px 0;
}

.section_file .section_file__download .section_file__download___btn {
    border-radius: 40px;
    background-color: #393d4a;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 16px 60px;
    outline: none;
}

.section_file .section_file__download .section_file__download___btn::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/pdf.png');
    display: block;
    position: absolute;
    left: 45px;
    top: 27px;
}

.section_information {
    padding: 60px 0;
    background: #fff;
}

.section_information .section_information__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.section_information .section_information__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #656b6f;
}

.section_information__content {
    margin: 50px 0;
}

.section_information .section_information__content .section_information__content___column .section_information__content___column____title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #3c3d41;
    margin: 15px 0;
    text-transform: uppercase;
}

.section_information .section_information__content .section_information__content___column .section_information__content___column____content {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #656b6f;
}

.section_information .section_information__content .section_information__content___column {
    max-width: 495px;
    margin: 0 0 0 50px;
    position: relative;
}

.section_information__content___column____img {
    position: absolute;
    left: -55px;
    top: 5px;
}

.section_start {
    padding: 60px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.section_start .section_start__column {
    max-width: 257px;
    margin: 0 auto 60px auto;
}

.section_start .section_start__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 30px 0 60px 0;
}

.section_start .section_start__column .section_start__column___number {
    font-family: "Proxima-Nova-Semibold", sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}

.section_start .section_start__column .section_start__column___content {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.section_courses {
    padding: 60px 0 0 0;
}

.section_courses .section_courses__content___column {
    border-radius: 29px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 30px;
}

.section_courses .section_courses__content___column .section_courses__content___column____days {
    margin: 0 0 10px 0;
}

.section_courses .section_courses__content___column .section_courses__content___column____title {
    margin: 25px 0;
}

.section_courses .section_courses__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.section_courses .section_courses__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #656b6f;
}

.section_courses .section_courses__content {
    margin: 50px 0;
}

.section_courses__content___column .section_courses__content___column____days .column_day {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    line-height: 33px;
}

.section_courses__content___column .section_courses__content___column____days .column_day__week {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    color: #686d7a;
    text-align: center;
}

.section_courses__content___column____title .column_title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    line-height: 25px;
}

.section_courses .section_courses__content___column____term {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #686d7a;
    margin: 0 0 20px 0;
}

.section_courses .section_courses__content___cols {
    padding-bottom: 20px;
    border-bottom: solid 1px #e0e0e0;
    margin: 0 0 20px 0;
}

.section_courses .section_courses__content___column____desc {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #686d7a;
}

.section_courses__content___column____price .column_price {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #222325;
}

.section_courses__content___column____file {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #222325;
    margin: 0 0 5px 0;
}

.section_courses__content___column____price .column_price__title {
    font-size: 12px;
    text-align: center;
    color: #656b6f;
}

.section_courses__content___column____price {
    margin: 0 0 20px 0;
}

.section_courses__content___column____btn {
    border: none;
    background-color: #ff521e;
    border-radius: 18px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
    width: 100%;
    cursor: pointer;
}

.section_file .section_file__download_2 {
    text-align: center;
    position: relative;
    margin: 50px 0 0 0;
}

.section_file .section_file__download_2 .section_file__download___btn_2 {
    border-radius: 40px;
    background-color: #393d4a;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 16px 60px;
    outline: none;
}

.section_file__download_2 .section_file__download___btn_2::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/pdf.png');
    display: block;
    position: absolute;
    top: 13px;
    right: 54%;
}

.section_commands {
    padding: 60px 0 0 0;
    background: #fff;
}

.section_commands .section_commands__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.section_commands .section_commands__command {
    padding: 60px 0;
}

.section_commands__command .section_commands__command___column .command_column__img {
    width: 300px;
    height: 370px;
    margin: 0 auto;
}

.section_commands__command .section_commands__command___column .command_column__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section_file_2 {
    background-image: url("../../img/Group87(2).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.section_commands__command .section_commands__command___column .command_column__content .command_column__content___title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #2b2e3b;
    margin: 15px 0 10px 0;
}

.section_commands__command .section_commands__command___column .command_column__content .command_column__content___text {
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #656b6f;
}

.section_commands__command .section_commands__command___column .command_column__content {
    max-width: 300px;
    margin: 0 auto;
}

.section_commands__command .section_commands__command___column {
    margin: 20px 0 0;
}

.section_gallery {
    padding: 60px 0 60px 0;
    background-color: #f9fafc;
}

.section_gallery .section_gallery__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.section_gallery .section_gallery__lists .section_gallery__lists___img {
    width: 260px;
    height: 237px;
    overflow: hidden;
    margin: 0 auto;
}

.section_gallery .section_gallery__lists {
    margin: 60px 0 0 0;
}

.section_gallery .section_gallery__lists .section_gallery__lists___img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: top;
}

.section_contacts {
    background-color: #2b2e3b;
    color: #fff;
}

.section_contacts .section_contacts__left .section_contacts__left___address {
    line-height: 33px;
    position: relative;
}

.section_contacts .section_contacts__left {
    position: relative;
    left: 40px;
    font-size: 17px;
    line-height: 25px;
}

.section_contacts__left___top {
    margin: 20px 0;
}

.section_contacts .section_contacts__left .section_contacts__left___address li:nth-child(1)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/location-pin.png');
    display: block;
    position: absolute;
    left: -40px;
    top: 7px;
    background-repeat: no-repeat;
}

.section_contacts .section_contacts__left .section_contacts__left___address li:nth-child(2)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/letter.png');
    display: block;
    position: absolute;
    left: -40px;
    top: 40px;
    background-repeat: no-repeat;
}

.section_contacts .section_contacts__left .section_contacts__left___phones {
    line-height: 33px;
    position: relative;
    margin: 20px 0;
}

.section_contacts .section_contacts__left .section_contacts__left___phones::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/phone-call.png');
    display: block;
    position: absolute;
    left: -40px;
    top: 10px;
    background-repeat: no-repeat;
}

.section_contacts .section_contacts__left .section_contacts__left___phones span {
    color: #656b6f;
    padding-left: 20px;
}

footer {
    margin: 15px 0 0 0;
    background: #fff;
}

footer .footer_section {
}

footer .footer_menu {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

footer .footer_menu li {
    margin: 0 15px 0 0;
}

footer .footer_menu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2b2e3b;
    font-weight: bold;
}

footer .footer_social {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

footer .footer_social li {
    margin-right: 10px;
}

.mobile {
    display: none;
    height: 80px;
    padding: 5px 0 0 0;
    background: #fff;
}

.burger-icon {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    right: 0;
}

.burger-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #E05F34;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-icon > span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.burger-icon > span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.burger-icon > span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.burger-icon.open > span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.burger-icon.open > span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.burger-icon.open > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    left: 8px;
}

.mobile_header {
    height: 100vh;
    margin: 20px 0;
}

.mobile_header .mobile_header__menu li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;

}

.menu_show {
    display: block;
    background: #fff;
    padding: 20px 0;
}

.menu_hide {
    display: none;
}

.section_container {
    min-height: 71vh;
}

.section_container .section_container__white {
    background-color: #fff;
    margin: 40px 0;
    padding: 0 0 40px 0;
}

.section_container .section_container__white .section_container__title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #4d4f5c;
    padding: 30px 0;
    text-align: center;
}

.section_container__tab {
    margin: 0 70px;
}

.section_container__tab ul {
    display: flex;
    border-bottom: 1px solid #e9e9f0;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.section_container__tab ul .active a {
    color: #ff521e;
}

.section_container__tab ul .active {
    border-bottom: 1px solid #ff521e;
}

.section_container__tab ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #43425d;
    width: 50%;
    padding: 10px 0;
    cursor: pointer;
}

.section_container__tab___content {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 0 20px;
}

.section_container__tab___content .ui.form .inline.field > :first-child, .ui.form .inline.fields .field > :first-child {
    width: 200px;
    font-size: 17px;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #43425d;
    font-weight: normal;
}

.section_container__tab___content .ui.form .inline.fields .wide.field > input, .ui.form .inline.fields .wide.field > select {
    font-size: 15px;
}

.section_container__bottom {
    margin: 0 0 0 160px;
}

.section_container__bottom p {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.section_container__bottom p span {
    color: #ff2a47;
}

.section_container__bottom p a {
    color: #276cf2;
}

.section_container__tab___content .section_container__button {
    text-align: center;
    margin-top: 20px;
}

.section_container__tab___content .section_container__button button {
    border: none;
    background-color: #ff521e;
    border-radius: 18px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 15px 40px;
    cursor: pointer;
    margin: 20px auto;

}

.section_container__members .members_list {
    border: 1px solid #e8e9ec;
    padding: 10px 50px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.section_container__members .members_list .added::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../../img/Path297.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
}

.section_container__members .members_list .add::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../../img/close.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
}

.ui.accordion .title:not(.ui) {
    padding: 0;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui) {
    padding: 0;
}

.content_members {
    margin: 0 0 15px 0;
}

.members_list_form {
    padding: 20px;
    border-bottom: 1px solid #e8e9ec;
    border-left: 1px solid #e8e9ec;
    border-right: 1px solid #e8e9ec;
    border-radius: 4px;
    margin: 0 0 15px 0;
}

.members_padded {
    padding: 20px;
}

.section_container__bottom .added_link {
    color: #ff521e;
    margin: 0 10px 0 5px;
}

.section_container__bottom .remove_link {
    color: #cecfd0;
}

.members_list_content__confirm {
    margin: 15px 0 0 0 !important;

}

.members_list_content__confirm span {
    color: #ff2a47;
}

.section_container__white___step {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 40px;
    left: 50%;
    margin-left: -40%;
    top: 40px;
    margin-bottom: 50px;
}

.section_container__white___step .progressbar {
    counter-reset: step;
}

.section_container__white___step .progressbar li {
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.section_container__white___step .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;
}

.section_container__white___step .progressbar li.active:before {
    content: url("../../img/Path299.png");
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;
}

.section_container__white___step .progressbar li:not(:first-child):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #979797;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.section_container__white___step .progressbar li.load:after {
    background: #ff642b;
}

.section_container__white___step .progressbar li.load::before {
    border-color: #ff642b;
    background: #ff642b;
    color: #fff
}

.section_end_registration {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #4d4f5c;
    text-align: center
}

.section_end_registration__description {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4d4f5c;
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid #e8e9ec;
    padding: 0 0 10px 0;
}

.section_end_registration___date {
    font-size: 16px;
    text-align: left;
    color: #4d4f5c;
}

.section_registration__list {
    margin: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #4d4f5c;
    line-height: 27px;
}

.section_registration__list ul li span {
    float: right;
    color: #cecfd0;
    font-size: 15px;
}

.section_registration__list__add {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ff521e;
    cursor: pointer;
    border-bottom: 1px solid #e8e9ec;
    padding: 0 0 20px 0;
}

.section_registration__list__all {
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #4d4f5c;
}

.section_registration__list__pay {
    font-family: 'Roboto', sans-serif;
    color: #5e6977;
}

.section_registration__list__pay ul li {
    padding: 25px 30px;
    background-color: #f5f6fa;
    margin: 0 0 5px 0;
    position: relative;
}

.section_registration__list__pay ul li .field .ui label {
    font-size: 17px;
}

.section_registration__list__pay .ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
    border: 3px solid #ff521e;
}

.section_registration__list__pay .ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
    content: '';
    -webkit-transform: none;
    transform: none;
    width: 19px;
    height: 19px;
    border-radius: 500rem;
    top: -1px;
    left: -2px;
}

.section_registration__list__pay .ui.radio.checkbox input:checked ~ .box:after, .ui.radio.checkbox input:checked ~ label:after {
    background-color: #fff;
}

.section_registration__list__pay .ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
    background: #fff;
    border-color: #ff521e;
}

.pay_logo {
    float: right;
    margin: -5px;
}

.repay {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    margin: 20px 0 0 0;
}

.repay a {
    color: #ff521e;
    position: relative;
    margin-right: 35px;
}

.repay a::after {
    content: '';
    width: 30px;
    height: 20px;
    background-image: url(../../img/Icon.png);
    display: block;
    position: absolute;
    top: 8px;
    background-repeat: no-repeat;
    right: -40px;
}

.section_reviews .section_reviews__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin: 0 0 30px 0
}

.section_reviews {
    padding: 0 0 80px 0;
    background-color: #f9fafc;
}

.section_reviews .section_reviews_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
}

.section_reviews .section_reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #3b3d40;
    line-height: 23px;
}

.section_reviews .section_reviews__author {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #3c3d41;
    margin: 10px 0 0 0;
    line-height: 25px;
}

.section_reviews .section_reviews__position {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #656b6f;
}

.section_reviews .section_reviews_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    font-size: 60px;
    top: 40px;
    left: -35px;
    color: #dddddd;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    font-size: 60px;
    top: 40px;
    right: -35px;
    color: #dddddd;
}

.errors_code {
    padding: 50px !important;
}

.errors_code h1 {
    font-size: 20px;
    font-weight: 100;
}

.errors_code h1 a {
    color: #ff774c;
}

@media (max-width: 1200px) {
    .header_section .header_menu li {
        margin: 0 10px 0 0;
    }

    .footer_section .footer_menu li {
        margin: 0 10px 0 0;
    }

    footer .footer_menu li a {
        font-size: 12px;
    }

    footer .footer_social li {
        margin-right: 5px;
    }
}

@media (max-width: 992px) {
    .header_section {
        display: none;
    }

    .mobile {
        display: block;
    }

    footer .footer_menu {
        display: block;
        justify-content: space-between;
        line-height: 23px;
        text-align: center;
    }
}

@media (max-width: 765px) {
    footer .footer_menu {
        display: block;
        justify-content: space-between;
        line-height: 23px;
        text-align: center;
    }

    footer .footer_logo {
        text-align: center;
    }

    footer .footer_social {
        justify-content: center;
    }

    .section_file__download_2 .section_file__download___btn_2::before {
        right: 56%;
    }

    .section_container__tab___content {
        padding: 50px 20px;
    }

    .section_container__bottom {
        margin: 0;
    }

    .section_container__tab ul {
        display: block;
        border-bottom: 1px solid #e9e9f0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .section_container__tab ul li {
        width: 100%;
    }

    .section_container__white___step {
        display: none;
    }

    .section_reviews .section_reviews__text {
        text-align: center;
        font-size: 19px;
    }

    .section_reviews .section_reviews__author {
        text-align: center;
    }

    .section_reviews .section_reviews__position {
        text-align: center;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }

    .section_contacts .section_contacts__left {
        left: 0;
        text-align: center;
    }
}

@media (max-width: 420px) {
    .section_file .section_file__download {
        text-align: center;
    }

    .section_file .section_file__download .section_file__download___btn::before {
        left: 130px;
    }

    .section_wrapper .section_wrapper__title {
        font-size: 40px;
    }

    .section_wrapper .section_wrapper__text {
        font-size: 18px;
    }

    .section_file .section_file__title {
        font-size: 30px;
        line-height: 35px;
    }

    .section_information .section_information__title {
        font-size: 35px;
        line-height: 35px;
    }

    .section_start .section_start__title {
        font-size: 35px;
        line-height: 35px;
    }

    .section_courses .section_courses__title {
        font-size: 35px;
    }

    .section_file__download_2 .section_file__download___btn_2::before {
        right: 62%;
    }

    .section_commands .section_commands__title {
        font-size: 35px;
        line-height: 35px;
    }

    .section_gallery .section_gallery__title {
        font-size: 35px;
    }

    .section_contacts .section_contacts__left .section_contacts__left___title {
        font-size: 35px;
        text-align: center;
    }

    .section_contacts .section_contacts__left .section_contacts__left___city {
        text-align: center;
    }

    .section_contacts .section_contacts__left .section_contacts__left___address li:nth-child(1)::before {
        left: 15px;
    }

    .section_contacts .section_contacts__left .section_contacts__left___address li:nth-child(2)::before {
        left: 68px;
    }

    .section_contacts .section_contacts__left .section_contacts__left___phones::before {
        left: 0;
    }

    .section_contacts .section_contacts__left .section_contacts__left___address {

        text-align: center;
        left: 0;
    }

    .section_contacts .section_contacts__left .section_contacts__left___phones {
        left: 0;
        text-align: center;
    }

    .section_contacts .section_contacts__left .section_contacts__left___phones::before {
        left: 45px;
    }

    .section_start .section_start__column {
        margin: 0 auto 20px auto;
    }

}
