body {
    background-color: #DADADA;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

.x-action-col-icon {
    margin: 0 5px;
}

.image_preview {
    max-width: 200px;
    height: 100px;
    object-fit: cover;
}

.image_preview img {
    width: 100%;
    height: 100%;
}